<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>About Us</h2>
                <p>We are a company dedicated to providing the best services in the education.</p>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="../pages/exams.html">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2>Contact Us</h2>
                <p>Email: ya798317@gmail.com</p>
                <p>Phone: 01116406161</p>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 MyWebsite | Designed by Youssef Ahmed
        </div>
    </div>
</footer>