<header class="navbar">
    <div class="container">
        <a href="#" class="logo">MyWebsite</a>
        <nav class="nav-links">
            <ul>
                <li><a href="../pages/home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</header>