{% extends 'base.html' %}

{% block content %}
<div class="start-div">
    <!-- <button class="make-button"  style="margin: 10px;">make exam</button> -->
    {% for exam in exam %}    
    <button class="start-button" onclick="start()">Start</button>
    <h2>{{ exam.name }}</h2> 
        <div>
            <span id="id">{{ exam.question_id }}</span>
            <span id="mark">{{ exam.question_mark }}</span>
            <span id="question">{{ exam.question }}</span>
            <span id="options1">{{ exam.option1 }}</span><span id="options2">{{ exam.option2 }}</span><span id="options3">{{ exam.option3 }}</span><span id="options4">{{ exam.option4 }}</span>
            <span id="correct">{{ exam.correct }}</span>
        </div> 
    <p>{{ exam.question_mark }}<p>
    {% endfor %}
</div>

<script>
    // تعريف المصفوفة quizArray باستخدام قوالب Django
    var Array = []
    {% for exam in exam %}
        Array.push( {
            id: "{{ exam.question_id }}",
            mark: {{ exam.question_mark }},
            question: "{{ exam.question }}",
            options: ["{{ exam.option1 }}", "{{ exam.option2 }}", "{{ exam.option3 }}", "{{ exam.option4 }}"],
            correct: "{{ exam.correct }}"
        },)

        const Button = document.createElement("button");
            //button.classList.add("start-button"+"{{ exam.question_id }}");
            // button.classList.add(`${questioN.id}`);
            // console.log(questioN.id[-1]);
            // button.className = `${j}`;
            Button.innerHTML = "START";
            const ppp = document.createElement("p");  
            ppp.classList.add("ppp");
            ppp.innerHTML = "{{ exam.name }}" ;
            Button.onclick = function() {
                const quizArray = [Array[{{ exam.question_id }}]];
                }
            const divv = document.getElementById("start-div");
            divv.appendChild(Button);
            divv.appendChild(ppp);
            return divv
    {% endfor %}
//    const quizArray = [
//        
//            {
//                id: `${ document.getElementById("id").innerHTML }`,
//                
//                mark:  document.getElementById("mark").innerHTML ,
//                question: `${ document.getElementById("question").innerHTML }`,
//                options: [`${ document.getElementById("options1").innerHTML }`, `${ document.getElementById("options2").innerHTML }`, `${ document.getElementById("options3").innerHTML }`, `${ document.getElementById("options4").innerHTML }`],
//                correct: `${ document.getElementById("correct").innerHTML }`
//            },
//        
//    ];
</script>

<div id="Exam">
    <div class="Exam-nav">
        <div class="number-of-count">
            <span class="numberOfQuestion">رقم السؤال</span>
        </div>
        <div class="timer-div">
            <!-- <img src="Time.png"width="20px" alt="" /> -->
            <span class="time-left">900s</span>
        </div>
        

    </div>

    <div id="Exam-mid">
                <!-- questions -->
                <!-- <label for="Q" class="Q" id="Q">Who won in football?</label>
                <div>
                    <input type="radio" id="option1" name="Q" value="team1">
                    <label for="option1">Team 1</label>
                </div>
                <div>
                    <input type="radio" id="option2" name="Q" value="team2">
                    <label for="option2">Team 2</label>
                </div>
                <div>
                    <input type="radio" id="option3" name="Q" value="team3">
                    <label for="option3">Team 3</label>
                </div>
                <div>
                    <input type="radio" id="option4" name="Q" value="team4">
                    <label for="option4">Team 4</label>
                </div> -->
                
    </div>
    <button id="next-button" >Next</button>
    <button class="hide" id="finsh">finsh</button>
</div>

<div class="lll">
    <div class="score-div">
        <div id="score"> 99.99 %</div>
        <button id="restart">Restart</button>
    </div>
    <div class="review"></div>
</div>
{% endblock %}